#heading{
    background-color: lightgray;
    
}

#educational{
    padding: 15px;
    border: 2px black solid;
    background-color: lightgray;
    bottom: 10px;
    position: relative;
    margin-top: 10px;
}


header{
    color: red;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

#heading1{
    border: 2px rebeccapurple solid;
    position: relative;
    bottom: 20px;
    
    color: red;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    background-color: lightgray;

}
#personal{
    background-color: lightgray;
    border: 2px black solid;
    position: relative;
    bottom: 10px;
    overflow: hidden;
    padding: 5px;
}

#skills{
    background-color: lightgray;   
    top: 10px;
    border: 2px black solid;    
    overflow: hidden;
    padding: 5px;
}

#work{
    background-color: lightgray;
    position: relative;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    border: 2px black solid;
    padding: 5px;
}

#resume{
    position: relative;
    top: 20px;
    background-color: lightgray;
    border: 2px black solid;
    padding: 5px;
}

#resume1{
    position: relative;
    top: 30px;
    padding: 5px;
    overflow: hidden;
    background-color: lightgray;
    border: 2px black solid;
}


